<header class="border-b-2 shadow-d w-full">
  <div class="container mx-auto px-4">
    <div class="flex align-middle justify-between max-w-screen-2xl items-center mx-auto">
      <img routerLink="/" src="/images/logo.png" alt="logo" class="w-24 h-24">
      <nav class="flex gap-3 my-2 uppercase font-bold text-2xl">
        <a routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Home
        </a>
        <a routerLink="/shop" routerLinkActive="active">Shop
        </a>
        <a routerLink="/test-error" routerLinkActive="active">Errors
        </a>
      </nav>
      <div class = "flex gap-3 align-middle">
          <a matBadge="4" matBadgeColor="accent" matBadgeSize="large" class="custom-badge mt-2 mr-2" >
            <mat-icon>shopping_cart</mat-icon>
          </a>
          <button mat-stroked-button> Login </button>
          <button mat-stroked-button> Register </button>
      </div>
    </div>
  </div>
</header>
